html {
  background: url(michu.jpg);
  background-size: cover;
  height: 100%;
  color: gold;
}

body {
  margin: 0;
  padding: 0;
}

content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

input.field {
  transform: translate(50%, 50%);
  flex-direction: column;
}

div.text {
  transform: translate(50%, 50%);
  flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}